.filters {
    background-color: #FFF;
    height: 70px;
    width: 100%;
    border: 1px solid #DDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding-right: 30px;
    position: relative;
}

.button1 {
    height: 100%;
    width: 50%;
    margin: auto;

    display: flex;
    justify-content: right;
    align-items: center;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFF;
    height: 48px;
    width: 20%;
    border: 0px solid;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    opacity: 90%;
}

ul {
    line-height: 5px;
}

.stateheader {
    font-size: 16px;
    line-height: 10px;
}

.cities {
    line-height: 20px;
    text-indent: 0px;
}

h3 {
    font-weight: 600;
    line-height: 0%;
    padding-top: 10px;
}

h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 0%;
}

.locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDD;
    position: relative;
    display: inline-block;
    text-indent: 50px;
    vertical-align: middle;
}

.amenities {
    height: 100%;
    width: 25%;
    flex: 1;
    position: relative;
    display: inline-block;
    text-indent: 50px;
    vertical-align: middle;
}

.popover {
    display: none;
    position: relative;
    z-index: 1;
    background-color: #FAFAFA;
    border: 1px solid #DDD;
    width: 100%;
    margin-top: 0px;
    text-indent: 20px;
    padding: 20px 0px 20px 0px;
    margin-top: 25px;
}

.popover li {
    display: block;
}

.amenities .popover {
    width: 50%;
}

.locations:hover .popover {display: block;}

.amenities:hover .popover {display: block;}